name: Build2

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: "actions/checkout@v3"
    - uses: "build2/setup-build2-github-action@v2"
    
    - name: Create configuration and initialize
      run: "bdep init -C @gcc-debug ./configs/gcc/debug cc config.cxx=g++ config.cxx.poptions=-DDEBUG config.cxx.coptions = -g -Wall -Wextra"
    - name: Build
      run: "b update: ./configs/gcc/debug"
    - name: Run basic demo
      run: "./configs/gcc/debug/basic/examples/basic/basic.exe"
