name: Build2
on:
  push:
    branches: [
      main,
      development
    ]
  pull_request:
    branches: [
      main,
      development
    ]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Set up docker buildx
      uses: docker/setup-buildx-action@v1
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: .docker/Dockerfile
        push: true
        tags: kabelitzj/${{github.repository}}/image:${{github.sha}}
        cache-from: type=gha
        cache-to: type=gha

    # - name: Build the docker image
    #   run: docker build . --file .docker/Dockerfile --tag libecs-ci-image:$(date +%s)
